html
   head
      title Bulletine
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
      link(rel="stylesheet" href="/style.css")

   body
      nav(class="navbar bg-inverse")
         a(class="navbar-brand" href="/")
            h3 Bulletine
            a(href="/messages" class="btn btn-default btn-md btn-danger float-xs-right") Messages


      block content

   script(src='https://code.jquery.com/jquery-3.1.1.js', integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=', crossorigin='anonymous')
