<form action="/new" method="POST">
   <div class="form-group">
      <label>Message Titel</label>
         <input type="text" class="form-control" name="title" />
      </div>
   <div class="form-group">
      <label>Post Slug:</label>
         <input type="text" class="form-control" name="content" />
      </div>
  <div class="form-group text-xs-right">
    <button type="submit" class="btn btn-success btn-lg">Create blog post</button>
  </div>
</form>
