<div class="row">
   <div class="col-md-10">
      {{#if post}}
         {{#each post as |post|}}
         <div class="card card-block">
            <h3>{{post.title}}</a></h3>
            {{{post.content}}}
         </div>
         {{/each}}
      {{else}}
         <div class="card card-block">
            <p>No messages to be found</p>
         </div>
      {{/if}}
   </div>
